[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "/home/steve/.vim/bundle/gundo"]
	path = /home/steve/.vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
